{% macro accordion(id, class_name="") -%}
  <div class="accordion {{ class_name }}" id="{{ id }}">
    {{ caller() }}
  </div>
{%- endmacro %}

{% macro accordion_item(parent_id, item_id, title, open=False, class_name="", body_class="") -%}
  <div class="accordion-item af-accordion-item {{ class_name }}">
    <h2 class="accordion-header" id="{{ item_id }}-header">
      <button
        class="accordion-button {% if not open %}collapsed{% endif %}"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ item_id }}"
        aria-expanded="{{ 'true' if open else 'false' }}"
        aria-controls="{{ item_id }}"
      >
        {{ title }}
      </button>
    </h2>
    <div
      id="{{ item_id }}"
      class="accordion-collapse collapse {% if open %}show{% endif %}"
      data-bs-parent="#{{ parent_id }}"
      data-accordion-id="{{ item_id }}"
    >
      <div class="accordion-body {{ body_class }}">
        {{ caller() }}
      </div>
    </div>
  </div>
{%- endmacro %}
